* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


body {
    background-color: #163A24;
}


.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding-top: 21px;
    padding-bottom: 25px;
}


.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}


.header__actions a {
    color: #fff;
}


.header__started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 52px;
    background-color: #0e3618;
    border-radius: 52px;
}


.hero {
    padding-top: 120px;
    padding-bottom: 130px;
    background-image: url(./assets/images/hero.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 200px);
    justify-content: center;
    align-items: center;
}


.hero__content {
    width: 419px;
}


.hero__tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 65.25px;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 18px;
    margin: 10px;
}



.hero__desc {
    font-weight: 400px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #fff;
    margin: 10px;
}


main {
    justify-content: center;
    align-items: center;
}





.about {
    padding-top: 120px;
    background-color: #fff;
}


.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about__content {
    width: 393px;
}


.about__tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    margin-bottom: 27px;
}


.about__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
}

.about__wrapper:nth-child(2) {
    flex-direction: row-reverse;
}

.partners {
    padding-top: 113px;
    padding-bottom: 120px;
    background-color: #fff;
}


.partners__tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 66px;
}


.partners__list {
    display: flex;
    justify-content: center;
    gap: 87px;
    align-items: center;
}


.partners__link img {
    width: 110px;

}


.production {
    padding-top: 66px;
    padding-bottom: 120px;
}


.production__tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 73px;
    color: #fff;
}


.production__list {
    display: flex;
    justify-content: center;
}


.production__item {
    width: 295px;
}


.production__img {
    display: block;
    margin: 0 auto 28px;
}


.production__subtittle {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
}



.employees {
    padding-top: 119px;
    padding-bottom: 135px;
    background-color: #F2EFE6;
}


.employees__content {
    width: 760px;
    margin: 0 auto;
}


.employees__tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 27px;
}


.employees__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}